# Introduction

This project contains different activities to practice your bash skills, including:

- The ``ls`` command and navigation in general (including concepts like hidden files)
- The ``wc`` command to explore files
- The ``head`` and ``tail`` commands
- Creating/deleting directories and files with ``mkdir``, ``rm``, ``touch`` and ``echo``.
- Copying and moving files with ``cp`` and ``mv``
- Understanding, accessing and creating Environment Variables
- Creating symlinks

**Warning**: If you the lab/terminal loses focus, just refresh your browser window/tab. There's no need to stop/restart the lab.

## Navigate to a directory


``cd directory_name`` -> Con este entro a la carpeta

``ls directory_name`` -> Con este veo la lo que hay pero no entro a la carpeta

## Lines of code of a file

`wc file`

- La cantidad de lineas que tiene un archivo
- La cantidad de palabras que contiene el archivo
- La cantidad de carácteres que contiene el archivo

## Print de file in terminal

`cat file`  -> Con este puedo ver el código

## Create file .csv

`echo "ID,Name,Quantity,Price,Total,Comments" > sales.csv`

## Delete file

`rm file`

## Move file

``mv file /path``

## Duplicate file

`cp --recursive file duplicated-file`

## Content of variables

`echo variable`

## Create a Symlink or Shortcut

Crearé un acceso directo del archivo csv en el directorio donde me encuentre en ese momento

`/app`

``ln -s data/Electricity1970.csv``

# Visidata

Para correr Visidata debo usar el comando `vd`

Por ejemplo

``vd Pokemon.csv``

# JQ

``jq`` is a command line utility to explore JSON data in a declarative form.

In this lab, we'll use a dataset containing Pokémon (named ``pokemon.json``) to perform different operations with ``jq``.

Let's start with a test. Start your lab and make sure you have all the tools available. You can issue the following command (and see ``Bulbasaur`` as the result):

```json
$ jq '.[0]' pokemon.json
{
  "Name": "Bulbasaur",
  "Type 1": "Grass",
  "Type 2": "Poison",
  "Total": 318,
  "HP": 45,
  "Attack": 49,
  "Defense": 49,
  "Sp. Atk": 65,
  "Sp. Def": 65,
  "Speed": 45,
  "Generation": 1,
  "Legendary": false
}
```
Here's an example of what you should see:

```bash
jq '.[0]' pokemon.json
```

## Activities

1. Select only the Name, Type 1 and Total from the 255th pokemon

    Write the expression to select values individually, your output should look something like:

    ```bash
    "Torchic"
    "Fire"
    310
    ```
    **Expression**

    ```bash
    jq '.[254].Name, .[254]."Type 1", .[254].Total' pokemon.json
    ```

2. Select Name, Type 1, and Total as an object

    Now we want to select the same values as before, but this time we want jq to return an object. Your expression should look like:
    
    ```bash
    {
      "Name": "Torchic",
      "Type 1": "Fire",
      "Total": 310
    }
    ```
    **Expression**
    
    ```bash
    jq '{ Name: .[254].Name, "Type 1": .[254]."Type 1", Total: .[254].Total}' pokemon.json
    ```

3. Write an expression to select the last 3 Pokémon

    Write a slicing expression to select the last 3 pokemon.

    Your output should look something like:
    ```bash
    [
        {
            "Name": "Diancie",
            "Type 1": "Rock",
            "Type 2": "Fairy",
            "Total": 600,
            "HP": 50,
            "Attack": 100,
            "Defense": 150,
            "Sp. Atk": 100,
            "Sp. Def": 150,
            "Speed": 50,
            "Generation": 6,
            "Legendary": true
        }
        ...
    ]
    ```

    **Expression**
    ```bash
    jq '.[-3:]' pokemon.json
    ```

4. Write an expression to find the total number of Pokemon

    ```bash
    jq length pokemon.json
    ```

5. Write an expression to select the maximum value of ``Total``

    **Expression**
    ```bash
    jq '[.[].Total] | max' pokemon.json
    ```

6. Write an expression to find the average value of ``Total``

    **Expression**
    ```bash
    jq '[.[].Total] | add / length' pokemon.json
    ```

7. Select the Pokémon that have an ``Attack`` greater than ``150``

    Your output should look something like:
    ```bash
    {
    "Name": "Slaking",
    "Type 1": "Normal",
    "Type 2": null,
    "Total": 670,
    "HP": 150,
    "Attack": 160,
    "Defense": 100,
    "Sp. Atk": 95,
    "Sp. Def": 65,
    "Speed": 100,
    "Generation": 3,
    "Legendary": false
    }
    {
    "Name": "Rampardos",
    "Type 1": "Rock",
    "Type 2": null,
    "Total": 495,
    "HP": 97,
    "Attack": 165,
    "Defense": 60,
    "Sp. Atk": 65,
    "Sp. Def": 50,
    "Speed": 58,
    "Generation": 4,
    "Legendary": false
    }
    ...
    ```

    **Expression**
    ```bash
    jq '.[] | select(.Attack > 150)' pokemon.json
    ```

8. Select only the Name and Total properties from Pokémon that have a Total greater than 650
    ```bash
    [
    {
        "Name": "Mewtwo",
        "Total": 680
    },
    {
        "Name": "Lugia",
        "Total": 680
    },
    {
        "Name": "Ho-oh",
        "Total": 680
    },
    {
        "Name": "Slaking",
        "Total": 670
    },
    ...
    ]
    ```
    
    **Expression**
    ```bash
    jq '[.[] | select(.Total > 650) | {Name, Total}]' pokemon.json
    ```

9. Select all the Pokémon that have a ``Type 2`` value set

    That is, ``Type 2`` is **not** ``null``. Limit your results to the first ``5`` results.

    Your output should look something like:
    ```bash
    [
    {
        "Name": "Bulbasaur",
        "Type 1": "Grass",
        "Type 2": "Poison",
        "Total": 318,
        "HP": 45,
        "Attack": 49,
        "Defense": 49,
        "Sp. Atk": 65,
        "Sp. Def": 65,
        "Speed": 45,
        "Generation": 1,
        "Legendary": false
    },
    {
        "Name": "Ivysaur",
        "Type 1": "Grass",
        "Type 2": "Poison",
        "Total": 405,
        "HP": 60,
        "Attack": 62,
        "Defense": 63,
        "Sp. Atk": 80,
        "Sp. Def": 80,
        "Speed": 60,
        "Generation": 1,
        "Legendary": false
    },
    ...
    ]
    ```

    **Expression**

    ```bash
    jq 'map(select(."Type 2" != null)) | .[:5]' pokemon.json
    ```

10. Select the names of all the Legendary Pokemon

    Your output should look something like:
    ```bash
    [
    "Articuno",
    "Zapdos",
    "Moltres",
    "Mewtwo",
    "Raikou",
    "Entei",
    "Suicune",
    "Lugia",
    "Ho-oh",
    ...
    ]
    ```

    **Expression**

    ```bash
    jq '[.[] | select(.Legendary == true) | .Name]' pokemon.json
    ```

11. Extract the names of all dual-type (having both Type 1 and Type 2 Pokemon)
    
    Your output should look something like:
    
    ```bash
    [
    "Bulbasaur",
    "Ivysaur",
    "Venusaur",
    "Charizard",
    "Butterfree",
    "Weedle",
    "Kakuna",
    "Beedrill",
    "Pidgey",
    ...
    ]
    ```
    **Expression**
    ```bash
    jq '[.[] | select(."Type 1" !=  null) | select(."Type 2" != null) | .Name]' pokemon.json
    ```

12. Extract the names of all Poison-type Pokemon.

    It should include Pokémon having Poison as either their Type 1 or as their Type 2.

    Your output should look something like:
    ```bash
    {
    "Name": "Bulbasaur",
    "Type 1": "Grass",
    "Type 2": "Poison",
    "Total": 318,
    "HP": 45,
    "Attack": 49,
    "Defense": 49,
    "Sp. Atk": 65,
    "Sp. Def": 65,
    "Speed": 45,
    "Generation": 1,
    "Legendary": false
    }
    {
    "Name": "Ivysaur",
    "Type 1": "Grass",
    "Type 2": "Poison",
    "Total": 405,
    "HP": 60,
    "Attack": 62,
    "Defense": 63,
    "Sp. Atk": 80,
    "Sp. Def": 80,
    "Speed": 60,
    "Generation": 1,
    "Legendary": false
    }
    ..
    ...
    {
    "Name": "Dragalge",
    "Type 1": "Poison",
    "Type 2": "Dragon",
    "Total": 494,
    "HP": 65,
    "Attack": 75,
    "Defense": 90,
    "Sp. Atk": 97,
    "Sp. Def": 123,
    "Speed": 44,
    "Generation": 6,
    "Legendary": false
    }
    ```

    **Expression**
    ```bash
    jq '.[] | select(."Type 1" ==  "Poison" or ."Type 2" == "Poison")' pokemon.json
    ```

13. Calculate the average Defense of non-Legendary Pokemon

    Combining above concepts + Statistical methods 

    Para realizar calculos estadísticos debo usar una lista antes de usar add o length
    ```bash
    jq 'map(select(.Legendary == false)) | [.[].Defense] | add / length' pokemon.json
    ```

14. Find the Pokémon with an HP greater than 70, sorted by HP in Ascending mode

    Limit your results to the first 5 results.

    Your output should look something like:
    ```bash
    [
    {
        "Name": "Purugly",
        "Type 1": "Normal",
        "Type 2": null,
        "Total": 452,
        "HP": 71,
        "Attack": 82,
        "Defense": 64,
        "Sp. Atk": 64,
        "Sp. Def": 59,
        "Speed": 112,
        "Generation": 4,
        "Legendary": false
    },
    {
        "Name": "Vanilluxe",
        "Type 1": "Ice",
        "Type 2": null,
        "Total": 535,
        "HP": 71,
        "Attack": 95,
        "Defense": 85,
        "Sp. Atk": 110,
        "Sp. Def": 95,
        "Speed": 79,
        "Generation": 5,
        "Legendary": false
    },
    ...
    ]
    ```

    **Expression**
    ```bash
    jq 'map(select(.HP > 70)) | sort_by(.HP) | .[:5] ' pokemon.json
    ```

15. Find the Pokémon with a Defense value greater than 100, sorted by Defense in descending mode

    Limit your results to the first 5 results

    Your output should look something like:
    ```bash
    [
    {
        "Name": "Shuckle",
        "Type 1": "Bug",
        "Type 2": "Rock",
        "Total": 505,
        "HP": 20,
        "Attack": 10,
        "Defense": 230,
        "Sp. Atk": 10,
        "Sp. Def": 230,
        "Speed": 5,
        "Generation": 2,
        "Legendary": false
    },
    {
        "Name": "Regirock",
        "Type 1": "Rock",
        "Type 2": null,
        "Total": 580,
        "HP": 80,
        "Attack": 100,
        "Defense": 200,
        "Sp. Atk": 50,
        "Sp. Def": 100,
        "Speed": 50,
        "Generation": 3,
        "Legendary": true
    },
    ...
    ]
    ```

    **Expression**
    ```bash
    jq 'map(select(.Defense > 100)) | sort_by(.Defense) | reverse | .[:5]' pokemon.json
    ```

16. Identify the Pokémon with the highest ``Attack`` in Generation ``2``

    Your output should look something like:
    ```bash
    {
    "Name": "Tyranitar",
    "Type 1": "Rock",
    "Type 2": "Dark",
    "Total": 600,
    "HP": 100,
    "Attack": 134,
    "Defense": 110,
    "Sp. Atk": 95,
    "Sp. Def": 100,
    "Speed": 61,
    "Generation": 2,
    "Legendary": false
    }
    ```

    **Expression**
    ```bash
    jq 'map(select(.Generation == 2)) | max_by(.Attack)' pokemon.json
    ```

17. Find all Defensive Pokémon (having more Defense than Attack)

    Your output should look something like:
    ```bash
    [
    ....

    {
        "Name": "Volcanion",
        "Type 1": "Fire",
        "Type 2": "Water",
        "Total": 600,
        "HP": 80,
        "Attack": 110,
        "Defense": 120,
        "Sp. Atk": 130,
        "Sp. Def": 90,
        "Speed": 70,
        "Generation": 6,
        "Legendary": true
    }
    ]
    ```

    **Expression**

    ```bash
    jq 'map(select(.Defense > .Attack))' pokemon.json
    ```

18. Group the Pokémon by their primary type (Type 1).

    Your output should look something like:
    ```bash
    [
    [
        ...
        {
        "Name": "Clauncher",
        "Type 1": "Water",
        "Type 2": null,
        "Total": 330,
        "HP": 50,
        "Attack": 53,
        "Defense": 62,
        "Sp. Atk": 58,
        "Sp. Def": 63,
        "Speed": 44,
        "Generation": 6,
        "Legendary": false
        },
        {
        "Name": "Clawitzer",
        "Type 1": "Water",
        "Type 2": null,
        "Total": 500,
        "HP": 71,
        "Attack": 73,
        "Defense": 88,
        "Sp. Atk": 120,
        "Sp. Def": 89,
        "Speed": 59,
        "Generation": 6,
        "Legendary": false
        }
    ]
    ]
    ```
    **Expression**
    ```bash
    jq 'group_by(."Type 1")' pokemon.json
    ```

19. Get the number of Pokémon by Generation

    Your output should look something like:
    ```bash
    {
    "1": 151,
    "2": 100,
    "3": 135,
    "4": 107,
    "5": 156,
    "6": 72
    }
    ```
    **Expression**

    **Difícil de entender**
    ```bash
    jq 'group_by(.Generation) | map({ "\(.[0].Generation)": . | length }) | add' pokemon.json
    ```

20. Get average HP by Type 1
  
    Your output should look something like:
    
    ```bash
    {
      "Bug": 55.95238095238095,
      "Dark": 67.17857142857143,
      "Dragon": 78.04166666666667,
      "Electric": 59.5,
      "Fairy": 74.11764705882354,
      "Fighting": 70.24,
      "Fire": 68.59574468085107,
      "Flying": 68,
      "Ghost": 61.56521739130435,
      "Grass": 66.1969696969697,
      "Ground": 72.4,
      "Ice": 71.65217391304348,
      "Normal": 76.52688172043011,
      "Poison": 67.25,
      "Psychic": 70.61702127659575,
      "Rock": 64.53658536585365,
      "Steel": 64.81818181818181,
      "Water": 70.86666666666666
    }
    ```

    **Expression**

    El último add une los json en uno solo

    ```bash
    jq 'group_by(."Type 1") | map({ "\(.[0]."Type 1")": (map(.HP) | add/ length)}) | add' pokemon.json
    ```

21. Use reduce to calculate how many Pokémon are legendary?


    **Expression**
    ```bash
    jq 'reduce .[] as $pokemon (0; if $pokemon.Legendary == true then . + 1 else . end)' pokemon.json
    ```


    **Result**

    46