In [ ]:
import pandas as pd
import glob
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def load_df():
    df_paths = [name for name in glob.glob('Sources/*')]
    lst = []
    for df in df_paths:
        data = pd.read_csv(df)
        lst.append(data)
    return pd.concat(lst)

In [ ]:
df = load_df()
df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [ ]:
df_size = df.size
print(df_size)

18137308

In [ ]:
df.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [6]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

In [7]:
df.dtypes

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
dtype: object

In [8]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
Index: 4534327 entries, 0 to 1028135
Columns: 4 entries, Date/Time to Base
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 173.0+ MB

In [9]:
df.shape

(4534327, 4)

In [10]:
uber_df = df

In [11]:
uber_df['BinnedHour'] = uber_df['Date/Time'].dt.floor('10min')

In [12]:
uber_df['BinnedHour']

0         2014-04-01 00:10:00
1         2014-04-01 00:10:00
2         2014-04-01 00:20:00
3         2014-04-01 00:20:00
4         2014-04-01 00:30:00
                  ...
1028131   2014-09-30 22:50:00
1028132   2014-09-30 22:50:00
1028133   2014-09-30 22:50:00
1028134   2014-09-30 22:50:00
1028135   2014-09-30 22:50:00
Name: BinnedHour, Length: 4534327, dtype: datetime64[ns]

In [13]:
uber_df['day']=uber_df['Date/Time'].dt.day
uber_df['month']=uber_df['Date/Time'].dt.month
uber_df['hour']=uber_df['Date/Time'].dt.hour

In [14]:
uber_df.head(200)

,Date/Time,Lat,Lon,Base,BinnedHour,day,month,hour
0,2014-04-01 00:11:00,40.7690,-73.9549,B02512,2014-04-01 00:10:00,1,4,0
1,2014-04-01 00:17:00,40.7267,-74.0345,B02512,2014-04-01 00:10:00,1,4,0
2,2014-04-01 00:21:00,40.7316,-73.9873,B02512,2014-04-01 00:20:00,1,4,0
3,2014-04-01 00:28:00,40.7588,-73.9776,B02512,2014-04-01 00:20:00,1,4,0
4,2014-04-01 00:33:00,40.7594,-73.9722,B02512,2014-04-01 00:30:00,1,4,0
...,...,...,...,...,...,...,...,...
195,2014-04-01 08:39:00,40.7889,-73.9542,B02512,2014-04-01 08:30:00,1,4,8
196,2014-04-01 08:42:00,40.7835,-73.9513,B02512,2014-04-01 08:40:00,1,4,8
197,2014-04-01 08:43:00,40.7651,-73.9617,B02512,2014-04-01 08:40:00,1,4,8
198,2014-04-01 08:43:00,40.7261,-73.9918,B02512,2014-04-01 08:40:00,1,4,8
199,2014-04-01 08:44:00,40.7303,-73.9937,B02512,2014-04-01 08:40:00,1,4,8

In [26]:
plt.figure(figsize=(15,8))
uber_df_abr = uber_df[uber_df['month']==4]

plt.bar(uber_df_abr['day'],40000)

for item in plt.gca().get_xticklabels():
    item.set_rotation(45)
    
plt.title('Uber Rides')
plt.xlabel('Days')
plt.ylabel('Rides')
plt.grid(True)
plt.show()

KeyboardInterrupt:

In [ ]:
uber_df['BinnedHour'].dt.day.value_counts()

In [16]:
uber_df_abr = uber_df[uber_df['month']==4]

In [18]:
uber_df_abr.shape

(564516, 8)