# Introduction

This first project is an introduction to ``pandas``, the most popular data-management tool in Python.

Pandas is our swiss knife when it comes to Data Analysis/Science in Python. We use it to:

- **Load/dump read/write data**: to and from different formats (CSV, XML, HTML, Excel, JSON, even from the Internet)
- **Analyze data**: perform statistical analysis, query the data, find inconsistencies, etc
- **Data cleaning**: finding missing values, duplicate data, invalid or broken values, etc
- **Visualizations**: with support from ``matplotlib``, we can quickly visualize data
- **Data Wrangling/Munging**: a non-so-scientific term that involves data handling: merging multiple data sources, creating derived representations, grouping data, etc.

In this project you will not learn much about how to use Pandas, but you'll see it in action. So, don't worry if you don't feel comfortable "doing" what's shown here, it'll all be explained in the following projects.

Let's get started! Switch to the next page and start your lab!

## Loading the data

Have you started your lab? If you haven't yet, please go ahead and start the lab. Also, execute the first couple of cells:

```python
import pandas as pd
df = pd.read_csv("s&p500.csv", index_col='Date', parse_dates=True)
df.head()
df.tail()
```

We first start importing the ``pandas`` library, and as we use it SO much, we like to create a short alias ``pd``. We then load the sample dataset for this project: the S&P500 index from 2017 to 2022.

We load the data using the ``read_csv`` method. Throughout these labs, you'll see that pandas can load data from a lot of different formats, and methods are usually ``read_XXX``; for example: ``read_json``, ``read_excel``, ``read_xml``, etc.

We've now loaded the data contained in the CSV into the variable ``df``: a DataFrame. DataFrames are the key data structure used by Pandas and you'll see A LOT of them in the following projects; so, don't worry too much about it for now.

Then, we take a few quick peeks at the data with the ``.head()`` and ``.tail()`` methods. This is because pandas is prepared to handle MILLIONS of rows (or even more). So we don't usually "print" the whole data, we just take quick peeks at it.

The ``.head()`` method shows the first 5 rows, the ``.tail()`` method shows the last 5 rows. You can immediately see that the DataFrame looks pretty much like an Excel table. It contains an index, which is the date of the reading.

In [ ]:
import pandas as pd

df = pd.read_csv("SP500 index 2017 2022.csv", index_col='Date', parse_dates=True)

In [ ]:
df.head()

In [ ]:
df.tail()

## Analyzing data

The analysis phase is of course dependant of the task at hand, and the data at hand. This is just an example of the capabilities of pandas.

We start by using the ``.describe()`` method, that provides quick summary statistics of the whole DataFrame. We have information like the ``mean`` (the average), ``max``, etc.

We can also get specific information for a single column: ``df['Close'].min()`` or ``df['Close'].max()``. Oh, by the way, you've just seen how to perform "single column selection": ``df['Close'].head()``.

In [ ]:
df.describe()

Single column statistics

In [ ]:
df['Close'].min()

In [ ]:
df['Close'].max()

Single column selection:

In [ ]:
df['Close'].head()

## Visualizations

Pandas makes it simple to visualize data with the ``.plot()`` method. In reality, ``.plot()`` is just a wrapper around ``matplotlib``, the de-facto plotting library for Python.

As you can see, plotting a column is very easy; just: ``df['Close'].plot()``.

You can see that we're creating more advanced visualizations by combining multiple columns or by creating statistical visualizations (box plots, histograms, etc).

In [ ]:
df['Close'].plot(figsize=(14, 7), title='S&P Closing Price | 2017 - 2022')

A more advanced chart combining ``Close Price`` and ``Volume``:

In [ ]:
ax1 = df['Close'].plot(figsize=(14, 7), title='S&P Closing Price | 2017 - 2022')

ax2 = ax1.twinx()
df['Volume'].plot(ax=ax2, color='red', ylim=[df['Volume'].min(), df['Volume'].max() * 5])

ax1.figure.legend(["Close", "Volume"])

A few statistical visualizations.

A histogram:

In [ ]:
df['Volume'].plot(kind='hist')

A box plot:

In [ ]:
df['Volume'].plot(kind='box', vert=False)

## Data Wrangling

Pandas excels at Data Wrangling/handling/munging. We can perform a ton of operations, like combining datasets, grouping, melting, creating pivot tables, etc. We have an entire Skill Track just dedicated to Data Wrangling, so you can guess how powerful it is.

For now, we'll focus on just a few simple operations. We'll calculate [Bollinger Bands](https://en.wikipedia.org/wiki/Bollinger_Bands) for our S&P500 data.

Bollinger bands are just a simple visualization/analysis technique that creates two bands, one "roof" and one "floor" of some "support" for a given time series. The reasoning is that, if the time series is "below" the "floor", it's a historic low, and if it's "above" the "roof", it's a historic high. In terms of stock prices and other financial instruments, when the price crosses a band, it's said to be too cheap or too expensive.

> **This is definitively NOT investment advice. Bollinger bands have proved to be INACCURATE, so don't use them in real life. This is just for educational purposes.**

A Bollinger band is defined as two standard deviations above/below the Simple Moving Average. Those are a lot of concepts, but basically we can first define the Simple Moving Average, using the ``.rolling(WINDOW).mean()`` method (switch to the lab to follow along).

Understanding the SMA is outside of the scope of this project, but it's basically a "smoothing" method. You see how the SMA *follows* the Close Price, but without so much volatility.

Now, to define the bands we need to calculate 2 standard deviations above/below the price:

```python
df['Lower Band'] = df['Close SMA'] - (2 * df['Close'].rolling(60).std())
df['Upper Band'] = df['Close SMA'] + (2 * df['Close'].rolling(60).std())
```

The final result should look something like:

In [ ]:
df['Close SMA'] = df['Close'].rolling(60).mean()

Comparamos el nuevo SMA con el valor de cierre de la acción

In [ ]:
df[['Close', 'Close SMA']].tail(10)

In [ ]:
ax = df[['Close', 'Close SMA']].plot(figsize=(14,7), title='Close Price & its SMA')

Calcularemos las bandas de Bollinger

In [ ]:
df['Lower Band'] = df['Close SMA'] - (2 * df['Close'].rolling(60).std())
df['Upper Band'] = df['Close SMA'] + (2 * df['Close'].rolling(60).std())

In [ ]:
df[['Close', 'Close SMA', 'Lower Band', 'Upper Band']].tail()

In [ ]:
df[['Close', 'Lower Band', 'Upper Band']].plot(figsize=(14,7), title='Close Price & its SMA')

Ahora encontraremos los puntos bajos que cruzan la banda baja

In [ ]:
ax = df[['Close', 'Lower Band', 'Upper Band']].plot(figsize=(14, 7), title='Close Price & its SMA')
ax.annotate(
    "Let's find this point", xy=(pd.Timestamp("2020-03-23"), 2237), 
    xytext=(0.9, 0.1), textcoords='axes fraction',
    arrowprops=dict(facecolor='red', shrink=0.05),
    horizontalalignment='right', verticalalignment='bottom');

Podemos hacer un query de todas las fechas que cruzaron la banda baja en el periodo ``2020-03-01`` a ``2020-06-01``

In [ ]:
df.loc['2020-03-01': '2020-06-01'].query("Close < `Lower Band`").head()

Y podemos hacer un zoom también a ese periodo

In [ ]:
df.loc['2020-01-01': '2020-06-01', ['Close', 'Lower Band', 'Upper Band']].plot(figsize=(14, 7), title='Close Price & its SMA | 2020-01-01 to 2020-06-01');

# Series Practice with World Bank's data

## Introduction

In this lab, you will use pandas to explore the World Bank's data on economic, political, and social indicators for countries around the world. The data is collected from Kaggle.

The World Bank data is organized into a number of different categories, including:

- Economy: This category includes data on GDP, population, inflation, and unemployment.
- Government: This category includes data on government spending, taxes, and debt.
- Social: This category includes data on education, health, and poverty.

The data is stored in excel file named ``world_data.xls``. In this lab, you will learn how to:

- Create pandas series
- Series basic attributes, such as shape, size, and data type
- Access data in pandas series
- Perform basic statistical operations on pandas series

By the end of this lab, you will be able to use pandas to explore and analyze the World Bank's data on economic, political, and social indicators for countries around the world.

> ***Run all the cells that are under Take a look at raw data heading in the notebook.***

Let's get dive into the lab!

In [ ]:
import pandas as pd
df = pd.read_csv('world_data.csv')
df.head()

In [ ]:
df.columns

Creating a pandas series from a dataframe df

In [ ]:
# Converting columns to pandas series
country_name = pd.Series(df['Country Name'])
country_code = pd.Series(df['Country Code'])
population = pd.Series(df[' Population, total '])
gdp = pd.Series(df['GDP, PPP (current international $)'])
internet_users = pd.Series(df['Internet users (per 100 people)'])
life_expectancy = pd.Series(df['2014 Life expectancy at birth, total (years)'])
literacy_rate = pd.Series(df['Literacy rate, adult female (% of females ages 15 and above)'])
exports = pd.Series(df['Exports of goods and services (% of GDP)'])

In [ ]:
country_name.head()

In [ ]:
country_code.head()

In [ ]:
population.head()

In [ ]:
gdp.head()

In [ ]:
internet_users.head()

In [ ]:
life_expectancy.head()

In [ ]:
literacy_rate.head()

In [ ]:
exports.head()

1. What is the data type of the ``country_name`` series

Al ser ``dtype('O')` sabemos que el tipo de datos es **Objeto**

In [ ]:
country_name.dtype

2. What is the ``size`` of the gdp series

In [ ]:
gdp.shape

3. What is the data type of the ``internet_users`` series

In [ ]:
internet_users.dtype

4. What is the value of the first element in the ``population`` series

In [ ]:
population.iloc[0]

5. What is the value of the last element in the ``life_expectancy`` series

In [ ]:
life_expectancy.iloc[-1]

6. What is the value of the element with index 29 in the ``literacy_rate`` series

In [ ]:
literacy_rate.iloc[29]

7. What is the value of the last element in the ``gdp`` series

In [ ]:
gdp.iloc[-1]

8. What is the mean of the ``internet_users`` series

In [ ]:
internet_users.mean()

9. What is the standard deviation of the ``internet_users`` series

In [ ]:
internet_users.std( )

10 What is the median of the ``exports`` series

In [ ]:
exports.median()

11. What is the minimum value in the ``life_expectancy`` series

In [ ]:
life_expectancy.min()

12. What is the ``average`` literacy rate of all countries

In [ ]:
literacy_rate.mean()

13. Sort the series in ascending order

In [ ]:
country_name_sorted = country_name.sort_values(ascending=True)

14. Sort multiple series at once

    Both the series ``country_name`` and ``literacy_rate`` have the same number of elements and the elements are in the same order with respect to index number. Arrange the country name as per ascending order of literacy rate. Assign the result of country name to new variable called ``country_name_sorted_by_literacy_rate`` and the result of literacy rate to new variable called ``literacy_rate_sorted``.

    Example: If the country name is ``['India', 'China', 'Japan']`` and literacy rate is ``[80, 90, 70]``, then the result should be ``['Japan', 'India', 'China']`` and ``[70, 80, 90]``.

In [ ]:
literacy_rate_sorted = literacy_rate.sort_values(ascending=True)
country_name_sorted_by_literacy_rate = country_name.loc[literacy_rate_sorted.index]

# Intro to Pandas Series

## Intro

That is a lot to unpack. Let's better use an example. Take a look at the following "table" that contains a list of Top Companies (in technology) and their revenue (in millions of dollars):


Preview
A pandas Series will help us represent that data. Now it's time to turn on the lab and head to the Notebook, where we'll see how Series work.

The syntax to create a series is:

```python
import pandas as pd
pd.Series(data, index, name="A name")
```

``Series``s main components are:

- **data**: this is the data that we want to represent, and obviously, we could say the "most important" component of the series. In our example, the data is the revenue of the companies.

- **index**: the index indicates the "labels" of the data we're storing. We'll use the index to "reference" the data later. Indices are not required; pandas will assign a default sequential index if we don't provide one.

- **name**: a series can contain a "name"; this will make more sense when we start using DataFrames. For now, just think about it as extra "documentation"; more clarity when working with your code. *Names are optional*.

Finally, it's important to note that Series are "strongly typed": this means they have an associated (**an enforced object type**). It's not like in Python dictionaries, where we can mix types. In this case, you'll see that the series is of type int64 (it says dtype: int64 after the name, at the bottom of the representation). Don't worry too much about it for now, it's basically a Series containing "integers".

We'll represent them using a Series in the following way:

In [ ]:
companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

s = pd.Series([
    274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191],
    index=companies,
    name="Top Technology Companies by Revenue")

s

1. **Check your knowledge: create a series**

    Create a series under the variable ``my_series`` that contains three elements ``9``, ``11`` and -``5``. The index of the series should be ``['a', 'b', 'c']`` and the name should be ``"My First Series"``.

In [ ]:
import pandas as pd

In [ ]:
elements = [9,11,-5]
index = ['a', 'b', 'c']
name = 'My First Series'
my_series = pd.Series(elements, index=index, name= name)

In [ ]:
my_series

## Basic selection and location

Series are very flexible about querying/selecting data. You can get data by the index (get the revenue of Apple), by position (get the 5th element) and also by multiple of those.

### Selecting by index

We use the Series' index to reference and locate the data associated with a given label.

For example, to get the revenue of *Apple*, we can do: ``s["Apple"]``. That works, as you can see in the notebook. But you'll also see that we use a ``.loc`` attribute, making it: ``s.loc["Apple"]``. This is the preferred method to reference values. It might make little sense for now, but it will once we start dealing with DataFrames.

In [ ]:
s['Apple']

``.loc`` is the preferred way:

In [ ]:
s.loc['Apple']

### Selecting by position

We can also select elements by their "order". After all, as we mentioned in the previous section, **Series are ordered data structures**. So we can select an element by its position: for example, the 'first", "last", "third", or "253rd" element. To select an element by its position, we use the ``.iloc`` attribute. The beauty of ``.iloc`` is that, as selection in Python lists, it accepts negative numbers to reference elements from the end of the series. That means that ``.iloc[-1]`` returns the **LAST** element in the series.

In [ ]:
s.iloc[0]

In [ ]:
s.iloc[-1]

### Errors in selection


As expected, if you try to retrieve an element that doesn't exist, it'll cause an error. This works pretty similarly as in Python dictionaries and lists. Selecting by index (.loc) fails with a ``KeyError`` (like dictionaries) and selecting by position fails with an ``IndexError`` as with lists.

Most of the time, you can prevent these errors using the membership operator ``in``, which checks if a given element is part of the index.

In [ ]:
# this code will fail
s.loc["Non existent company"]

In [ ]:
# This code also fails, 132 it's out of boundaries
# (there are not so many elements in the Series)
s.iloc[132]

We could prevent these errors using the membership check ``in``:

In [ ]:
'Apple' in s

In [ ]:
'Snapchat' in s

### Multiple selection

So far, Series look like glorified dictionaries. But this single feature will set them apart.

> **With both, index selection and positional selection, you can pass multiple elements to be returned. This is extremely convenient.**

Pay attention to the value returned: another Series, a "sub-series," we could say, only with the values requested. In Pandas you'll see this pattern everywhere: Series selection returns other series, DataFrames selection (in future lessons) returns other DataFrames or other Series, etc.

Let's see it in action. To select several elements (by index/label), we just pass a list of the labels:

```py
s.loc[["Apple", "Intel", "Sony"]]
```

To select multiple values by position, we also pass a list with the positions:

```py
s.iloc[[0, 5, -1]]
```

In [ ]:
s.loc[['Apple', 'Intel', 'Sony']]

In [ ]:
s.iloc[[0, 5, -1]]

## Activities

2. **Check your knowledge: location by index**

    Select the revenue of ``Intel`` and store it in a variable named ``intel_revenue``:

In [ ]:
intel_revenue = s.loc['Intel']

3. **Check your knowledge: location by position**

    Select the revenue of the "second to last" element in our series ``s`` and store it in a variable named ``second_to_last``:

In [ ]:
second_to_last = s.iloc[-2]

4. **Check your knowledge: multiple selection**

    Use multiple label selection to retrieve the revenues of the companies:

    - Samsung
    - Dell Technologies
    - Panasonic
    - Microsoft

In [ ]:
sub_series = s.loc[["Samsung", 'Dell Technologies', "Panasonic", 'Microsoft']]
sub_series

## Series Attributes and Methods

Series contain a lot of useful attributes and methods to interact with them. Probably the two most common ones you'll see all the time are ``.head()`` and ``.tail()``. This just returns 5 elements either from the beginning of the series (``.head()``) or from the end of it (``.tail()``). This is useful when you're working with real data (possibly MILLIONS of values). You can also pass a number of elements to return: ``.head(3)`` and ``.tail(2)``.

In [ ]:
s.head()

In [ ]:
s.tail()

### Main attributes

Once a series is constructed (somehow), we can access all the attributes separately. Namely:

- The data of the series: using the ``.values`` attribute
- The index: using ``.index``
- The name: using ``.name``
- The type assigned: using ``.dtype``
- The number of elements: using ``.size``

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
s.name

In [ ]:
s.dtype

In [ ]:
s.size

``len`` also works

In [ ]:
len(s)

### Statistical methods

But that's not all about attributes and Series. As you might already know, we use Pandas for data processing. And a significant component of data processing is understanding its statistical implications.

The ``.describe()`` method gives you quick summary statistics of your series.

There are also individual methods for each of the values returned by ``.describe()``: ``.max()``, ``.min()``, ``.mean()``, ``.median()``, etc.

There's also a ``quantile()`` method to check for specific quantiles (or percentiles). For example, to get the 75th percentile, you can use: ``s.quantile(.75)``.

## Activities

In [ ]:
# Run this cell to complete the activity
american_companies = s[[
    'Meta', 'IBM', 'Microsoft',
    'Dell Technologies', 'Apple', 'Intel', 'Alphabet'
]]
american_companies

We have selected a "sub-series" of only american companies in the variable ``american_companies``. Using that Series, complete the following activities.

5. **What's the average revenue of American Companies?**

    What's the average revenue of the companies contained in the variable ``american_companies``? Enter the whole number (that is, without decimals).

In [ ]:
american_companies.mean()

6. **What's the median revenue of American Companies?**

In [ ]:
american_companies.median()

## Sorting Series

Sorting series is extremely simple. This is another great feature of pandas in general.

But with Sorting, we'll introduce two important concepts:

### Sorting by values or Index

First, what are we sorting by? The values? Or the index? Well, we'll be able to sort by both attributes: using the ``.sort_values()`` and ``.sort_index()`` methods.

Check the examples in the notebook. To sort the values of the series (that is, the revenue), we use the ``.sort_values()`` method. To sort the series by its index (in this case, lexicographically by the company's name, we use the ``.sort_index()`` method). The default sorting method is in "ascending" order. To sort in descending order, you must pass the ``ascending=False`` parameter (to either method).

7. **What company has the largest revenue?**

    Using all the companies (stored in the Series in ``s``), which company has the largest revenue?

In [ ]:
s.sort_values(ascending=False)[:1]

8. **Sort company names lexicographically. Which one comes first?**

    Using all the companies (stored in the Series in ``s``), which name is the "first" one in lexicographic (*or alphabetical*) order. That is, ``aa`` comes before than ``ab``.

In [ ]:
s.sort_index(ascending=True)[:1]

## Inmutability

The second important concept is **immutability**, and this is NOT just a Series concept; it's a widespread concept in pandas and Data Science in general. In this case, you'll see that when we "sort a series", **we don't ACTUALLY sort the series itself**. There's a NEW series returned. The underlying series has NOT changed; it has NOT been mutated.

This is a CRUCIAL concept in Data Science in general. We don't want to change/mutate things, as it's harder to keep track of these changes.

If by any chance, you DO want to mutate your series, in this case, you want to sort it and alter the underlying series (in ``s`` in this case), you must pass the ``inplace=True`` attribute. When doing so, you'll see that this time the method doesn't return anything, but the underlying series (in s has changed) to contain the data in the order required.

Again, immutability is both preferred and encouraged, so try to use immutable methods as much as possible. For example, it is fine to create a second variable with the values sorted (``s_sorted_values``) and without changing ``s``.

In [ ]:
s.head()

We will sort the series by revenue, ascending, and we'll mutate the original one. Notice how the method doesn't return anything:

In [ ]:
s.sort_values(inplace=True)

But now the series is sorted by revenue in ascending order:

In [ ]:
s.head()

We'll now sort the series by index, mutating it again:

In [ ]:
s.sort_index(inplace=True)

In [ ]:
s.head()

## Activities

9. **Sort American Companies by Revenue**

    Create a new variable ``american_companies_desc`` that contains the results of sorting ``american_companies`` by revenue (this is, by value) in descending order.

In [ ]:
# Run this cell to complete the activity
american_companies = s[[
    'Meta', 'IBM', 'Microsoft',
    'Dell Technologies', 'Apple', 'Intel', 'Alphabet'
]]

In [ ]:
american_companies_desc = american_companies.sort_values(ascending=False)
american_companies_desc

10. **Sort (and mutate) international companies**
    
    Now it's time to do what we told you NOT to do, but we need practice it. There's a new series defined named international_companies. Your task is to sort them by Revenue in **descending order** (larger to smaller) but doing it in place, that is, modifying the series.

    If you make a mistake, you can always re-run the cell that generates the Series.

In [ ]:
# Run this cell to complete the activity
international_companies = s[[
    "Sony", "Tencent", "Panasonic",
    "Samsung", "Hitachi", "Foxconn", "Huawei"
]]
international_companies

In [ ]:
international_companies.sort_values(ascending=False, inplace=True)
international_companies.head()

## Modifying Series

Modifying series is something we hardly want to do. As mentioned in the previous section, we try to be "immutable". So changing series is usually not recommended.

But still, it's possible to modify series by changing values, adding or removing elements. This works in the same way as with Python dictionaries.

For example, to modify an existing value, we can just "step over it", let's say we want to set IBM's revenue to $0. We can just do:

```py
s['IBM'] = 0
```
To add elements (or change the value of an element), you can just use the index of the new element: ``s['Tesla'] = 21450``.

To remove an element, we use the del keyword and the index: ``del s["Apple"]``.

Again, these are the same ways we use to add/remove elements from dictionaries.

Modifying values:

In [ ]:
s['IBM']  = 0

In [ ]:
s.sort_values().head()

Adding elements:

In [ ]:
s['Tesla'] = 21450

In [ ]:
s.sort_values().head()

11. **Insert Amazon's Revenue**

    Insert a new element in our series ``s``, Amazon with a total revenue of: ``$469,822`` (million dollars).

In [ ]:
s['Amazon'] = 469822

12. **Delete the revenue of Meta**

    Remove the entry for Meta from the series ``s``.

In [ ]:
del s['Meta']

## Concatenating Series (immutable)

Finally, if you want to "concatenate" two series, you can use the ``concat()`` method ``s.concat(dataframe1 or series1, dataframe2 or series2)`` as shown in the example in the notebook. In this case, the method returns a new series or dataframe with the values of the two series/dataframe concatenated.

In [ ]:
another_s = pd.Series([21_450, 4_120], index=['Tesla', 'Snapchat'])

In [ ]:
another_s

In [ ]:
s_new = pd.concat([s, another_s])

In [ ]:
s

In [ ]:
s_new

# Series Practice with S&P Companies Market Cap

## Introduction

Now it's time to put all you've learned about series to a test. Let's start by introducing the data we'll be working with. Make sure you've started your lab, and the Notebook is on the right panel.

For this project, we'll be working with the "market capitalization" of S&P500 (short for "Standard and Poor's 500") companies. The S&P 500 is a free-float, capitalization-weighted index of the top 500 publicly listed stocks in the US (top 500 by market cap). To put it simply: a list of the "most valuable companies in US Markets".

> **Disclaimer: the data is outdated. As you might know, markets change very rapidly.**

But this project has a twist. We will be using two series instead of one that we'll read from two different datasets. The first one is the stock symbols of companies. For example, Apple, Inc. stock symbol is ``AAPL`` (usually styled $AAPL). Facebook's symbol is ``FB`` ($FB).

The second dataset contains the market cap of each company by its symbol. For example, the market cap of ``AAPL`` (Apple Inc.) is ``$809,508,034,020``.

The first thing you'll see in the Notebook is a preview of the underlying datasets we're using: ``sp500-symbols.csv`` and ``sp500-marketcap.csv``. Next, we use the ``head`` Linux command to peek at each file's first five lines.

We then import pandas (``import pandas as pd``) and load the data into series using the ``read_csv`` method. Don't worry about it yet! We'll use A LOT of ``read_csv`` during this track, so you'll get pretty used to it soon.

At the end of those operations, you'll have two series containing the data we'll be working with. One is ``market_cap`` (that includes market cap by symbol), and the other is ``symbols`` that contain the names of the companies and their stock symbol.

Take a few minutes to familiarize yourself with both Series, and then let's get started!

In [ ]:
import pandas as pd

In [ ]:
market_cap = pd.read_csv("sp500-marketcap.csv", index_col="Symbol")['Market Cap']
market_cap.head()

In [ ]:
symbols = pd.read_csv("sp500-symbols.csv", index_col="Name")['Symbol']
symbols.head()

## Basic Series Attributes

We'll start by doing a simple *reconnaissance* of the series we're working with.

1. **Name of the market_cap Series**

    What's the name of the series contained in the ``market_cap`` variable?

In [ ]:
market_cap.name

2. **Name of the symbols Series**

    What's the name of the series contained in the ``symbols`` variable?

In [ ]:
symbols.name

3. **What's the dtype of ``market_cap``**
    
    What's the dtype of the series contained in the ``market_cap`` variable?

In [ ]:
market_cap.dtype

4. **What's the dtype of ``symbols``**

    What's the dtype of the series contained in the symbols variable?

In [ ]:
symbols.dtype

5. **How many elements do the series have?**

    How many elements ``market_cap`` series contains?

In [ ]:
len(market_cap)

6. **What's the minimum value for Market Cap?**

In [ ]:
market_cap.min()

7. **What's the maximum value for Market Cap?**

In [ ]:
market_cap.max()


8. **What's the average Market Cap?**

    Find the average value for Market Cap, and enter it WITHOUT decimals. Just the integer number (if you find the average is 1948.88, just enter 1948).

In [ ]:
market_cap.mean()

9. **What's the median Market Cap?**

    Find the median value for Market Cap, and enter it WITHOUT decimals. Just the integer number (if you find the median is 1948.0, just enter 1948).

In [ ]:
market_cap.median()

## Selection and Indexing

Now it's time to do practice some selection and indexing using Series. We'll start with some basic activities with each series, and by the end we'll be using both of them.

10. **What's the symbol of ``Oracle Corp``.?**

In [ ]:
symbols.loc['Oracle Corp.']

11. **What's the Market Cap of ``Oracle Corp.``?**

In [ ]:
market_cap.loc['ORCL']

12. **What's the Market Cap of ``Wal-Mart Stores``?**

In [ ]:
market_cap.loc[symbols.loc['Wal-Mart Stores']]

13. **What's the symbol of the 129th company?**

In [ ]:
symbols.iloc[128]

14. **What's the Market Cap of the 88th company in ``symbols``?**

Warning! The companies might be out of order... so the 88th company in ``symbols`` might not be the same as the 88th one in ``market_cap``. We need you to find the 88th company in ``symbols`` first, and then the the Market Cap from ``market_cap`` for that particular symbol.

In [ ]:
market_cap.loc[symbols.iloc[87]]

15. **Create a new series only with FAANG Stocks**

    There's a common term in investing (and in tech) which is FAANG companies. This refers to "big tech" companies by their acronyms. For example, ``FAANG`` means the following companies: Facebook Apple Amazon Netflix and Google (read more about FAANG and Big Tech in Wikipedia).

    > Here FAANG refers to acronym of few companies but there are other big tech companies like Microsoft. So, the term FAANG is not a strict definition of big tech companies.

    Your task is to create a new series, under the variable ``faang_market_cap``, containing the market cap of the following companies:

    - ``Amazon.com Inc``
    - ``Apple Inc.``
    - ``Microsoft Corp.``
    - ``Alphabet Inc Class A`` (this is Google's main stock)
    - ``Facebook, Inc.``
    - ``Netflix Inc.``

    **Important**! The stocks must be in THIS order. You will need to find the Symbols of the companies first.

    Also important, as stated above, you MUST create a variable containing your new series. Your code should look something like:

    ``faang_market_cap = ... # your code``
    
    There's a way to combine everything in a one-liner. Try to solve this task without looking at the solution; but after you've finished it, take a peak at it because there's a neat trick explained at the end of the solution.

In [ ]:
market_cap.sort_values(ascending=False).head(8)

In [ ]:
faang_market_cap = pd.Series([market_cap.loc[symbols['Amazon.com Inc']],
                              market_cap.loc[symbols['Apple Inc.']],
                              market_cap.loc[symbols['Microsoft Corp.']],
                              market_cap.loc[symbols['Alphabet Inc Class A']],
                              market_cap.loc[symbols['Facebook, Inc.']],
                              market_cap.loc[symbols['Netflix Inc.']]
                              ], index= [symbols['Amazon.com Inc'],
                                         symbols['Apple Inc.'],
                                         symbols['Microsoft Corp.'],
                                         symbols['Alphabet Inc Class A'],
                                         symbols['Facebook, Inc.'],
                                         symbols['Netflix Inc.']])

In [ ]:
faang_market_cap

One neat trick with Pandas is that we can use the values of one series to select elements from another series. So we could have just done:

In [ ]:
faang_market_cap2 = market_cap[symbols[["Amazon.com Inc", "Apple Inc.", "Microsoft Corp.", "Alphabet Inc Class A", "Facebook, Inc.", "Netflix Inc.", ]]]

In [ ]:
faang_market_cap2

16. **Select the market cap of companies in position 1st, 100th, 200th, etc.**

    The S&P500 index contains 500 companies. Create a variable ``position_companies`` that contains the market cap of the companies in the positions:

    - 1st
    - 100th
    - 200th
    - 300th
    - 400th
    - 500th
    
    **Important!** This selection should be done under ``market_cap``. Don't use ``symbols`` for this particular activity.

In [ ]:
position_companies = market_cap.iloc[[0,99,199,299,399,499]]
position_companies

## Sorting Series

17. **What's the 4th company sorted lexicographically by their symbol?**

    Use the ``symbols`` series to sort **the symbols** in lexicographical order (ascending). Which company (the name, the index value) appears in the 4th position? Note: the answer is the full company name. For example, the full name of ``MSFT`` (Microsoft) is ``Microsoft Corp.``, as it appears in the index. The correct answer would be Microsoft Corp.. By the way, Microsoft is definitively NOT the correct answer.

In [ ]:
symbols.sort_values(ascending=True).head()

18. **What's the Market Cap of the 7th company (in descending order)?**

Using the ``market_cap`` series, sort the companies by their symbol in lexicographical order in **descending mode** and enter the revenue of the 7th company.

In [ ]:
market_cap.sort_index(ascending=False)[:7]

# Practice Series Filtering

## Introduction

In this lab, we will practice filtering with conditionals and sorting on pandas series using dataset that contains information about international cricket players who have played since 2002. The data includes the player's name, number of innings they have played, number of runs they have scored, number of balls they have faced, number of times they have been dismissed, their batting average, their strike rate, their highest score, number of fours they have hit, number of sixes they have hit, number of times they have scored a half-century, and number of times they have scored a century.

Below are the columns of the dataset:

- Player: Name of the player
- I: Number of innings played
- R: Number of runs scored
- B: Number of balls faced
- Outs: Number of times dismissed
- Avg: Batting average
- SR: Strike rate
- HS: Highest score
- 4s: Number of fours hit
- 6s: Number of sixes hit
- 50: Number of times scored a half-century
- 100: Number of times scored a century

Let's get started with the lab now!

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("leadersdata.csv")
data

In [ ]:
data.columns

In [ ]:
data.set_index('Player', inplace=True)

In [ ]:
# Creating pandas series for each column
innings = data['I']
runs = data['R']
balls = data['B']
outs = data['Outs']
batting_average = data['Avg']
strike_rate = data['SR']
highest_score = data['HS']
number_of_fours = data['4s']
number_of_sixes = data['6s']
number_of_fifties = data['50']
number_of_hundreds = data['100']

In [ ]:
# Printing the first 5 rows of each series
print("Innings:\n", innings.head())
print("Runs:\n", runs.head())
print("Balls:\n", balls.head())
print("Outs:\n", outs.head())
print("Batting Average:\n", batting_average.head())
print("Strike Rate:\n", strike_rate.head())
print("Highest Score:\n", highest_score.head())
print("Number of Fours:\n", number_of_fours.head())
print("Number of Sixes:\n", number_of_sixes.head())
print("Number of Fifties:\n", number_of_fifties.head())
print("Number of Hundreds:\n", number_of_hundreds.head())

## Activities

1. **How many players have a batting average greater than 30 in the ``batting_average`` series**

In [ ]:
batting_average.loc[lambda x : x > 30].shape

In [ ]:
len(batting_average[batting_average > 30])

2. **What is the maximum number of runs scored by a player in the ``runs`` series**

In [ ]:
runs.max()

3. **Name the player with maximum runs**

    Write the name of the player who has scored the maximum number of runs.

In [ ]:
runs.sort_values(ascending=False)[:1]

In [ ]:
runs[runs == runs.max()]

4. **Name the player who played least number of balls**

    There is a possibility that more than one player has played the least number of balls. In that case, write the names of first and last players names separated by a comma. For example, write ``A, B``.

In [ ]:
balls[balls == balls.min()]

5. **How many players have played more than 500 balls in the ``balls`` series**

In [ ]:
len(balls[balls > 500])

6. **What is the mean value of the batting_average series**

    Write your answer in the form of a number with 2 decimal places. For example, if the answer is 1.234567, write 1.23.

In [ ]:
batting_average.mean()

7. **How many players have a strike rate not equal to 70 in the ``strike_rate`` series**

In [ ]:
len(strike_rate[strike_rate != 70])

8. **What is the minimum number of innings played by a player in the ``innings`` series**

In [ ]:
innings.min()

9. **How many players have a batting average greater than 50 in the ``batting_average`` series**

In [ ]:
len(batting_average[batting_average > 50])

10. **How many players have a batting average between 20 and 30 (inclusive) in the ``batting_average`` series**

In [ ]:
len(batting_average.loc[lambda x : (x >= 20) & (x <= 30)])

11. **Calculating the Average Balls Faced by a Player**

    The ``balls`` series contains information about the number of balls faced by different players in a cricket match. The task is to calculate the average number of balls faced by a player.

    Round off the result to two decimal places. For example, if the answer is 123.456789, write 123.46.

In [ ]:
balls.mean()

12. **How many players have a strike rate greater than 120 in the ``strike_rate`` series**

In [ ]:
len(strike_rate[strike_rate > 120])

13. **Provide the names of the top three players from the ``strike_rate`` series**

    Write the names of the players in the decreasing order of their strike rate separated by a comma. For example, write ``A, B, C``.

In [ ]:
strike_rate.sort_values(ascending=False).head(3)

14. **Sum of Maximums from ``number_of_fours`` and ``number_of_sixes`` Series**

    The goal is to calculate the sum of the maximum values from both series combined. For example, if the maximum value in ``number_of_fours`` is ``10`` and the maximum value in ``number_of_sixes`` is ``20``, then the answer is ``30``.

In [ ]:
number_of_fours.max() + number_of_sixes.max()

15. **How many players have a batting average below ``10`` in the ``batting_average`` series**

In [ ]:
len(batting_average[batting_average < 10])

16. **Name the player who hit maximum sixes**

    Write the player name along with the number of sixes hit by the player separated by a comma. For example, write ``A, 10``.

In [ ]:
number_of_sixes[number_of_sixes == number_of_sixes.max()]

17. **How many players have a strike rate between 80 and 90 (inclusive) in the ``strike_rate`` series**

In [ ]:
len(strike_rate[(strike_rate >= 80) & (strike_rate <= 90)])

18. **What is the total number of runs scored by all players in the ``runs`` series**

In [ ]:
runs.sum()

19. **What is the range (difference between the maximum and minimum values) of the ``number_of_fifties`` series**

In [ ]:
number_of_fifties.max() - number_of_fifties.min()

20. **How many players have a strike rate below 60 in the ``strike_rate`` series**

In [ ]:
len(strike_rate[strike_rate < 60])

21. **Calculating the Mean Number of Boundaries (Fours + Sixes) Hit by a Player**

    In this activity, you will be calculating the mean number of boundaries hit by a player. Boundaries include both fours and sixes. You will be given two series: ``number_of_fours`` and ``number_of_sixes``. Your task is to find the mean number of boundaries hit by combining the values from both series.

    > Remember to round your answer to two decimal places. For example, if the mean number of boundaries is 1.453, write 1.45.

In [ ]:
(number_of_fours + number_of_sixes).mean()

22. Players with highest score in ``highest_score`` series

    Create a new series named ``top_five_scores`` that contains the top five players names with the highest score in the ``highest_score`` series. The series should be sorted in descending order based on the scores.

In [ ]:
top_five_scores = highest_score.sort_values(ascending=False)[:5]

In [ ]:
top_five_scores

## Filtering and Conditional Selection with Series

### Introdution

Now it's time to practice conditional selection with Series. We're going to use the same data as before with Companies' revenues.

Conditional Selection is like "filtering" or "querying" (if you're familiar with SQL). It'll allow us to answer the following types of questions:

- what companies made more than ``$X``?
- what companies made less than ``$X``?
- what companies made between ``$X`` and ``$Y``?

Turn on your lab, and let's get started!

### Boolean arrays

We're going to start introducing the concept of Boolean Arrays (which in turn, is a concept from NumPy, but you're not required to know NumPy to complete this).

This concept might sound a little bit strange at the beginning, but trust us, it'll all make sense in the next section.

Boolean Arrays is a way of selecting in which we pass the **full index** of the series, and we indicate what elements we want to select and which ones we want to skip. We indicate this by passing *Boolean* values: ``True`` and ``False``.

Let's see an example to make it more clear. We're going to use Boolean Arrays to select only American companies. That is: Apple, Alphabet, Microsoft, Dell, Meta, Intel and IBM.

Using Boolean Arrays, we need to pass the value ``True`` for each one of those companies, and ``False`` to all the remaining ones.

Check the example in the notebook to see it in action, but the syntax is basically:

```py
s.loc[[
    True,      # Apple
    False,     # Samsung
    True,      # Alphabet
    False,     # Foxconn
    True,      # Microsoft
    False,     # Huawei
    True,      # Dell
    True,      # Meta
    False,     # Sony
    False,     # Hitachi
    True,      # Intel
    True,      # IBM
    False,     # Tencent
    False,     # Panasonic
]]
```

Please note that the list (or array) of boolean values passed must be of EQUAL length as the series index. We must pass a value, either ``True`` or ``False`` for ALL the values in the index. If we are not interested in selecting an element, we just pass ``False``.

Now, this might feel like an "inefficient" way of selecting data. What happens if you have 1 million records? Are you supposed to type ``True`` or ``False`` for each one of those records? Of course not! In the next section it'll become more clear why Boolean Arrays are important.

But first, it's your turn to practice Boolean Arrays and selection:

In [ ]:
import pandas as pd

In [ ]:
companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

In [ ]:
s = pd.Series([
    274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191],
    index=companies,
    name="Top Technology Companies by Revenue")

In [ ]:
s

### Boolean Arrays

In [ ]:
s.loc[[
    True,      # Apple
    False,     # Samsung
    True,      # Alphabet
    False,     # Foxconn
    True,      # Microsoft
    False,     # Huawei
    True,      # Dell
    True,      # Meta
    False,     # Sony
    False,     # Hitachi
    True,      # Intel
    True,      # IBM
    False,     # Tencent
    False,     # Panasonic
]]

1. Select only the Japanese companies

    Create a Boolean Array that will select only the Japanese companies in our Series:

    - Sony
    - Hitachi
    - Panasonic
    
    Store the array in the variable ``japanese_boolean_array``.

    Using that same array, select the companies from the Series and store them in a different variable named ``japanese_companies``.

In [ ]:
japanese_boolean_array = [
    False,      # Apple
    False,     # Samsung
    False,      # Alphabet
    False,     # Foxconn
    False,      # Microsoft
    False,     # Huawei
    False,      # Dell
    False,      # Meta
    True,     # Sony
    True,     # Hitachi
    False,      # Intel
    False,      # IBM
    False,     # Tencent
    True,     # Panasonic
]

In [ ]:
japanese_companies = s.loc[japanese_boolean_array]
japanese_companies

### Conditional Selection

Now it's when those Boolean Arrays will be really useful (and hopefully, finally click).

Turns out that Series accept comparison operators (or boolean operators), like "greater than" (``>``), "less than" (``<``), etc. The interesting feature is that, the result of applying any of these operators to a Series, is a boolean array!.

Let's see an example: in the notebook, you have an example of the expression ``s > 100_000``. This basically asks which values of the series are "greater than" 100,000 (which in turns means how many companies's revenue are greater than $100 billion).

The result of that expression is the boolean *series*:

```py
Apple                 True
Samsung               True
Alphabet              True
Foxconn               True
Microsoft             True
Huawei                True
Dell Technologies    False
Meta                 False
Sony                 False
Hitachi              False
Intel                False
IBM                  False
Tencent              False
Panasonic            False
```

We can combine this "conditional" expression, with the selection method seen before to put together a very powerful filtering and querying system.

Example, let's ask:

> **What are the companies which revenues exceed the $100 billion dollars?**

We just need to combine the ``.loc`` expression with our boolean array:

```py
s.loc[s > 100_000]
Apple        274515
Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Huawei       129184
Name: Top Technology Companies by Revenue, dtype: int64
```

We can use any operator that we want: equals (``==``), different from (or not equals to ``!=``), greater than (``>``), greater than or equals to (``>=``), etc.

Give it a try, complete the following activities:

2. **Select companies with less than $90,000M in Revenue**

    Select those companies that have a revenue value less than ``90,000``, select them in a new variable named ``less_90_rev``.

In [ ]:
less_90_rev = s.loc[s < 90000]
less_90_rev

3. Select companies with revenue of more than $150,000M

    Select those companies that have a revenue value greater than ``150,000``, select them in a new variable named ``more_150_rev``.

In [ ]:
more_150_rev = s.loc[s > 150000]
more_150_rev

### Combining Series methods with comparison operators

This should feel natural based on what we saw in the previous section, but it's still worth mentioning. You can combine comparison operators with Series methods to obtain more generic expressions. For example, let's select the company with the MOST revenue:

``s.loc[s == s.max()]``

Or we could find those companies with revenue above the average:

``s.loc[s >= s.mean()]``

Or, a more complex expression could be finding those companies who's revenue is greater than the average + one standard deviation (these concepts are covered in our Descriptive Statistics track; don't worry about the technical details now):

``s.loc[s > (s.mean() + s.std())]``

#### Company with the most revenue

In [ ]:
s.max()

In [ ]:
s.loc[s == s.max()]

#### Company with revenue above average

In [ ]:
s.mean()

In [ ]:
s.loc[s >= s.mean()]

#### Companies who's revenue is greater than the average +1 standard deviation

In [ ]:
s.loc[s > (s.mean() + s.std())]

### Boolean operators

Boolean operators are the and, or, not expressions used to "concatenate" conditions. They should be familiar from your Python background. In Pandas, we also have boolean operators that we can use to create more "complex" selection expressions, but they're not ``and``, ``or``, ``not`` as in Python, they are:

- ``&`` for AND
- ``|`` for OR
- ``~`` for NOT

Let's see them in action using the *OR* operator (``|``). We will compute the expression that selects the companies that have revenue greater than ``$150,000M`` **OR** less than ``$80,000``. Graphically, we want to select the following companies:

Let's treat each expression separately; first, let's focus on those companies with revenue greater than $150,000:

```py
>>> s > 150_000
```
(see the result in the notebook)

Then, those companies with revenue less than $80,000M:

```py
>>> s < 80_000
```
(see the result in the notebook)

Now, let's put it altogether, using the | (OR) operator. IMPORTANT! When we combine comparison expressions using boolean operators, we must surround each expression in parentheses:

```py
>>> (s > 150_000) | (s < 80_000)
Apple                 True
Samsung               True
Alphabet              True
Foxconn               True
Microsoft            False
Huawei               False
Dell Technologies    False
Meta                 False
Sony                 False
Hitachi              False
Intel                 True
IBM                   True
Tencent               True
Panasonic             True
```

You can see the True values matching the same desired values as the image above.

#### Companies with revenue greater than $150,000M or less than $80,000M

##### Revenue greater than $150,000M

In [ ]:
s > 150_000

##### Revenue less than $80,000M

In [ ]:
s < 80_000

##### Putting all together

In [ ]:
(s > 150_000) | (s < 80_000)

##### Selecting the companies matching the expression:

In [ ]:
s.loc[(s  > 150_000)|(s < 80_000)]

##### The NOT (~) operator

In [ ]:
s.loc[s >= 150_000]

In [ ]:
s.loc[~ (s >= 150_000 )]

4. **Select companies the companies with the MOST and LESS revenue**

In [ ]:
s.loc[ (s == s.max()) | (s == s.min()) ]

5. **Select companies with revenue between ``$80,000M`` and ``$150,000M``**

In [ ]:
s.loc[(s < 150_000) & (s > 80_000)]

# Practicing Series Filtering with S&P500 and Census Data

In this project you'll practice your Series filtering skills.

Before we get started, let's introduce the datasets used. Make sure your lab is running!

## Datasets

Both datasets used for this project were taken from the publicly available and Open Source RDatasets repository.

### Age of First Marriage

The first one is titled **Age at first marriage of 5,534 US women** ([source](https://vincentarelbundock.github.io/Rdatasets/doc/openintro/age_at_mar.html)). It reads:

> **Age at first marriage of 5,534 US women who responded to the National Survey of Family Growth (NSFG) conducted by the CDC in the 2006 and 2010 cycle.**

There are a total of 5,534 observations.

### S&P500 Returns (1990's)

The second one is titled **Returns of the Standard and Poors 500** ([source](https://vincentarelbundock.github.io/Rdatasets/doc/MASS/SP500.html)) contains daily returns for S&P500 in the 1990's (1991-1999). It contains 2,780 values.

## Reading the data

We can use the pandas built-in ``read_csv`` method to read the data that is stored in CSV format. Most commonly, ``read_csv`` is used to read data into DataFrames, but as this project deals with ``Series``, we pass the parameter ``squeeze=True`` to make it a series. Bottom line is: don't worry about it for now, both datasets should be available for you in the variables ``age_marriage`` and ``sp500``.

We can also display a quick histogram about our data to understand how it is distributed. This is completely optional.

In [ ]:
import pandas as pd
# for visualizations, don't worry about these for now
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle

In [ ]:
age_marriage = pd.read_csv("age_at_mar.csv", index_col=0).squeeze('columns')
age_marriage.head()

In [ ]:
age_marriage.shape

In [ ]:
fig, ax = plt.subplots(figsize=(14,7))
sns.histplot(age_marriage, ax=ax);

### S&P Returns 1990's

In [ ]:
sp500 = pd.read_csv('SP500.csv', index_col=0).squeeze('columns')
sp500.head()

In [ ]:
sp500.shape

In [ ]:
fig, ax = plt.subplots(figsize=(14,7))
sns.histplot(sp500, ax=ax);

## Activities

1. Rename the series accordingly

    Rename both series with the names specified below, given their variables:

    - ``age_marriage``: should be named "Age of First Marriage"
    - ``sp500``: should be named "S&P500 Returns 90s"

In [ ]:
age_marriage.name = "Age of First Marriage"
sp500.name = "S&P500 Returns 90s"

2. What's the maximum Age of marriage?

In [ ]:
age_marriage.max()

3. What's the median Age of Marriage?

In [ ]:
age_marriage.median()

4. What's the minimum return from S&P500?

    Enter the value with up 2 decimals of precision. Example, if the value is ``-11.8718``, enter only ``-11.87``.

In [ ]:
sp500.min()

5. How many Women marry at age 21?

    21 is the most common age for marriage (you can check that using the .mode() method). How many women married at that age?

In [ ]:
len(age_marriage.loc[age_marriage == age_marriage.mode().iloc[0]])

6. How many Women marry at 39y/o or older?

In [ ]:
len(age_marriage.loc[age_marriage >= 39])

7. How many positive S&P500 returns are there?

    That is, a return greater than 0.

In [ ]:
len(sp500.loc[sp500 > 0])

In [ ]:
ax = sns.histplot(sp500)
ax.axvline(0, color='red')

8. How many returns are less or equals than -2?

In [ ]:
len(sp500.loc[sp500 <= -2])

In [ ]:
ax = sns.histplot(sp500)
ax.axvline(-2, color='red')

### Advanced Selection with Boolean Operators

Now it's time to combine conditionals using boolean operators to create more advanced filters. This time, we'll ask you to define new variables that will be checked dynamically.

9. Select all women below 20 or above 39

    Perform a selection of all the values in ``age_marriage`` that are below ``20`` or above ``39``. Store your results in the variable ``age_20_39``.

In [ ]:
ig, ax = plt.subplots(figsize=(14, 7))
sns.histplot(age_marriage, ax=ax)
ax.add_patch(Rectangle((10, 0), 9, 450, alpha=.3, color='red'))
ax.add_patch(Rectangle((39, 0), 5, 450, alpha=.3, color='red'))

In [ ]:
age_20_39 = age_marriage.loc[(age_marriage < 20) | (age_marriage > 39)]

10. Select all women whose ages are even, and are older than 30 y/o

    Perform a selection of all the values that are greater than ``30`` and even. Store your result in the variable ``age_30_even``.

In [ ]:
age_30_even = age_marriage.loc[~(age_marriage % 2) & (age_marriage > 30)]
age_30_even.head()

10. Select the S&P500 returns between 1.5 and 3
    The ones depicted below:

In [ ]:
fig, ax = plt.subplots(figsize=(14, 7))
sns.histplot(sp500, ax=ax)
ax.add_patch(Rectangle((1, 0), 1.5, 250, alpha=.3, color='red'))

In [ ]:
sp_15_to_3 = sp500.loc[(sp500 > 1.5) & (sp500 < 3)]

In [ ]:
sp_15_to_3.head()

# Vectorized Operations with Series

## Introduction

In this brief project, we'll learn about "Vectorized Operations". In particular, we'll learn about Vectorized Operations applied to Pandas Series; but in reality, they're a concept original from NumPy, and we'll use it A LOT with DataFrames.

So, the examples we'll see here might look trivial, but trust us that they'll be very useful throughout all your Pandas journey.

Let's get started!

## Understanding Vectorized Operations

Vectorized Operations means just applying a "global" function to an entire Series. Let's derive an example from a Spreadsheet, in which we create a new column by applying an operation to ANOTHER column:

With Series, it's going to be pretty much the same, it might look even simpler. Start the lab if you haven't already and take a look at the first operations.

First, we initialize the Series we've been using, this time we name it ``revenue_in_millions``. That's the same series we've used so far, and it captures the revenue of the companies (listed in the Index) in Millions of dollars.

We then create **A NEW** Series named ``revenue_in_billions`` just by dividing the whole Series by ``1000``:


```py
>>> revenue_in_billions = revenue_in_millions / 1000

Apple                274.515
Samsung              200.734
Alphabet             182.527
Foxconn              181.945
Microsoft            143.015
Huawei               129.184
Dell Technologies     92.224
Meta                  85.965
Sony                  84.893
Hitachi               82.345
Intel                 77.867
IBM                   73.620
Tencent               69.864
Panasonic             63.191
```

That's it! That's a vectorized operation. We say it's "vectorized" because it doesn't act on just 1 value, but in the whole *vector* of values contained in the Series.

### Available Operators

For now, we'll mostly focus on the regular arithmetic operators: ``+``, ``-``, ``*``, ``/``, ``**``, etc. But you'll see in further labs that we can create vectorized operations with String operations or even our own custom functions.

### Practice time

Now it's your turn to practice some vectorized operations before we advance to the following section.

In [ ]:
import pandas as pd

companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

revenue_in_millions = pd.Series([
    274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191],
    index=companies,
    name="Top Technology Companies by Revenue")

#### Understanding Vectorized Operations

In [ ]:
revenue_in_billions = revenue_in_millions / 1000
revenue_in_billions

### Activities

1. Subtract $50B from all companies in ``revenue_in_billions``

    The recession just hit! Let's say you need to subtract *$50B* from all the companies in ``revenue_in_billions``. Store the new series in the variable ``revenue_recession``

In [ ]:
revenue_recession = revenue_in_billions - 50

2. Create a new series expressing revenue in dollars (units)

    The accounting team needs more detail when calculating EBITDA. They need revenue expressed in dollar units (instead of millions or billions). Use either series ``revenue_in_millions`` or revenue_in_billions to create a new series ``revenue_in_dollars``.

In [ ]:
revenue_in_dollars = revenue_in_millions * 1000000

### Operations between Series

If we keep the analogy of spreadsheets, you'll see that it's also possible to create operations between different Series. For example, let's say recession hits again and the revenue of all companies is affected; but not equally. We want to reduce the revenue of each company by a given percentage. For example, Apple's new revenue will be 91% of the original one, Samsung's 93%, etc.

Expressing that with Series, we first create the series ``recession_impact``, and apply the operation directly on the ``revenue_in_millions`` original series:

```py
>>> revenue_in_millions * recession_impact
Apple                249808.65
Samsung              186682.62
Alphabet             178876.46
Foxconn              176486.65
Microsoft            141584.85
Huawei               114973.76
Dell Technologies     80234.88
Meta                  70491.30
Sony                  78950.49
Hitachi               76580.85
Intel                 69301.63
IBM                   71411.40
Tencent               67768.08
Panasonic             59399.54
```

Now it's your turn to practice with Operations with Series

In [ ]:
recession_impact = pd.Series([
    0.91, 0.93, 0.98, 0.97, 0.99, 0.89, 0.87,
    0.82, 0.93, 0.93, 0.89, 0.97, 0.97, 0.94], index=companies)
recession_impact

The result of applying the recession impact:

In [ ]:
revenue_in_millions * recession_impact

We can calculate the dollar amount of the impact by combining multiple operations:

In [ ]:
# Absolute impact in Millions
revenue_in_millions - (revenue_in_millions * recession_impact)

In [ ]:
# Absolute impact in Billions
(revenue_in_millions - (revenue_in_millions * recession_impact)) / 1_000

3. Calculate revenue per employee, in dollars

    Using the series ``number_of_employees`` (given in the notebook), your job is to calculate revenue ``per`` employee, expressed in dollars (units). Store it in the variable ``revenue_per_employee``.

In [ ]:
number_of_employees = pd.Series([
    164000, 266673, 150028, 1290000, 221000, 195000,
    165000, 71970, 109700, 368250, 121100, 282100, 112771, 240198
], index=companies)

In [ ]:
revenue_per_employee = revenue_in_dollars / number_of_employees

# Practicing Series Vectorized Operations with Penguins Data

## Introduction

Now it's time to put your knowledge of vectorized operations on Pandas series to the test. In this lab, we will be working with a dataset that contains information about penguins. Each penguin is described by various attributes such as species, island, culmen length, culmen depth, flipper length, body mass, and gender.

In this lab we will practice vectorized operations on Pandas series. We will learn how to perform arithmetic operations on series and apply mathematical functions to series.

Throughout the lab, you will be presented with coding activities that require you to write code snippets to perform specific operations on the series. Each activity will be followed by a solution, allowing you to verify your code and understand the correct approach.

In addition to individual topic-based activities, there will also be mixed-topic activities that require you to combine different operations to achieve a specific outcome. These activities will test your ability to apply multiple concepts simultaneously.

By the end of this lab, you will have gained a solid understanding of vectorized operations on Pandas series and be able to manipulate and analyze data efficiently using these techniques.

Let's dive into the activities and explore the power of vectorized operations on Pandas series!

## Activities

In [ ]:
import pandas as pd

In [ ]:
# Read the dataset into a DataFrame
df = pd.read_csv('penguins_cleaned.csv')
df

In [ ]:
# Convert all columns to pandas Series
species = df['species']
island = df['island']
culmen_length_mm = df['culmen_length_mm']
culmen_depth_mm = df['culmen_depth_mm']
flipper_length_mm = df['flipper_length_mm']
body_mass_g = df['body_mass_g']
gender = df['sex']

1. **Add a constant value of 100 to the ``body_mass_g`` series**

    Create a new series called ``body_mass_g_plus_100`` by adding a constant value of 100 to the ``body_mass_g`` series.

In [ ]:
body_mass_g_plus_100 = body_mass_g + 100
body_mass_g_plus_100

2. **Subtract the ``culmen_length_mm`` series from the ``flipper_length_mm`` series**

    Subtract the ``culmen_length_mm`` series from the ``flipper_length_mm`` series and assign the result to a new series called ``length_difference``.

In [ ]:
length_difference = flipper_length_mm - culmen_length_mm
length_difference

3. **Multiply the ``culmen_depth_mm`` series by 2**

    Multiply the ``culmen_depth_mm`` series by 2 and assign the result to a new series called ``double_culmen_depth_mm``.

In [ ]:
double_culmen_depth_mm = culmen_depth_mm * 2

4. **Raise the ``flipper_length_mm`` series to the power of 2**
    
    Create a new series called ``flipper_length_mm_squared`` by raising the ``flipper_length_mm`` series to the power of 2.

In [ ]:
flipper_length_mm_squared = flipper_length_mm ** 2
flipper_length_mm_squared

5. **Calculate the mean of the ``culmen_length_mm`` series and subtract it from each value in the series**

    Find the mean of the ``culmen_length_mm`` series and subtract it from each value in the series. Assign the result to a new series called ``culmen_length_mm_mean_centered``.

In [ ]:
culmen_length_mm_mean_centered = culmen_length_mm - culmen_length_mm.mean()
culmen_length_mm_mean_centered

6. **Concatenate the ``species`` and ``gender`` series, separated by a hyphen ``-``**

    Create a new series called ``species_and_gender`` by concatenating the ``species`` and ``gender`` series, separated by a hyphen (``-``).

In [ ]:
species_and_gender = species.str.cat(gender, sep='-')
species_and_gender

7. **Perform element-wise addition of ``culmen_length_mm`` and ``culmen_depth_mm``**

    Add ``culmen_length_mm`` and ``culmen_depth_mm`` together and assign the result to a new variable called ``culmen_length_plus_depth_mm``.

In [ ]:
culmen_length_plus_depth_mm = culmen_depth_mm + culmen_length_mm
culmen_length_plus_depth_mm

8. **Sort ``culmen_length_mm`` in descending order**

    Create a new series called ``culmen_length_mm_sorted`` by sorting ``culmen_length_mm`` in descending order.

In [ ]:
culmen_length_mm_sorted = culmen_length_mm.sort_values(ascending=False)
culmen_length_mm_sorted

9. **Divide ``flipper_length_mm`` by ``culmen_length_mm``**

    Find the ratio of each penguin's flipper length to its culmen length and assign the result to a new variable called ``length_ratio``.

In [ ]:
length_ratio = flipper_length_mm / culmen_length_mm
length_ratio

# Series Practice: Vectorized operations using NBA data

It's time to put to practice our Vectorized Operations with Series.

The data we'll use is related to statistics of Players from the NBA since the year 1985. Although this practice is about Series, we'll start reading our data as a DataFrame. If you don't know what a DataFrame is yet, don't worry... this will actually be useful for the future. The only thing you need to know now is that each column of a DataFrame is a Series. And we're extracting several Series from the df:

```py
# Game info
games_played = df['G']
minutes_played = df['MP']

# Field Goals info
field_goals = df['FG']
field_goals_attempts = df['FGA']

# Free Throws info
free_throws = df['FT']
free_throws_attempts = df['FTA']
```

The index of the Series is the Player's name. So, for example, we can find the total field goals of Michael Jordan:

```py
field_goals.loc[field_goals.index == 'Michael Jordan*']
```

> ***The star (*) next to the player's name is because that player was selected for the "Hall of Fame" of the NBA.***

Now, let's get started with our practice!

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('nba_player_stats_1985.csv', index_col='Player')

In [ ]:
df.head()

In [ ]:
# Game info
games_played = df['G']
minutes_played = df['MP']

# Field Goals info
field_goals = df['FG']
field_goals_attempts = df['FGA']

# Free Throws info
free_throws = df['FT']
free_throws_attempts = df['FTA']

In [ ]:
games_played.head()

In [ ]:
field_goals.head()

In [ ]:
field_goals_attempts.head()

Michael Jordan Field Goals:

In [ ]:
field_goals.loc['Michael Jordan*']

## Arithmetic Operations

1. **Calculate field goal accuracy**

    Calculate the "Field Goal accuracy" of a player by dividing their field goals by their total attempts then multiply by 100. Store the result in the variable ``field_goal_perc``.

In [ ]:
field_goal_perc = field_goals / field_goals_attempts * 100

2. **What's the FG% of Michael Jordan**

    Use the series created in the previous activity, field_goal_perc, to answer: what's the FG% of ``Michael Jordan``?

    > *Remember, MJ's name in this dataset is ``Michael Jordan*`` because he was (obviously) inducted in the HoF.*

    Enter your result with up to three decimal points(don't round-off). That is, if the value is ``0.618324``, enter ``0.618`` (including the ``0`` and the dot `.`).

In [ ]:
field_goal_perc.loc['Michael Jordan*']

3. **Field goals per Game**

    Calculate "Field Goals per Game" using the series ``field_goals`` and games_played. Store your results in the variable ``field_goals_per_game``

In [ ]:
games_played.head()

In [ ]:
field_goals_per_game = field_goals / games_played

In [ ]:
field_goals_per_game.head()

4. **Which player has the highest 'Field Goal per Game' value?**

    All stars here...

In [ ]:
field_goals_per_game.sort_values(ascending=False).head()

5. **Calculate 'Total Points'**

    In the NBA lingo, field goals account for all the "goals" scored by a player, **EXCEPT** free throws. So, if we want to calculate the total number of points scored by a player, we must add field goals and free throws. Field goals are a combination of 2-point and 3-point goals. For this exercise, you can safely assume that all "field goals" have a value of 2.

    Calculate Total Points scored by a player, by adding the series containing field goals and free throws. Store your results in the variable ``total_points``.

In [ ]:
field_goals.head()

In [ ]:
free_throws.head()

In [ ]:
total_points = (field_goals * 2) + free_throws
total_points.head()

6. Who's the player with the most Total Points?

    Who's the player that, according to our dataset, has scored the most points in the NBA history?

In [ ]:
total_points.sort_values(ascending=False).head()

7. Total Points per Minute

    Using the series that you previously calculated, ``total_points``, calculate "Total points per minute". Store your results in the variable ``points_per_minute``.

    > *Important. This activity relies on ``total_points``. Make sure you have completed that one correctly.*

In [ ]:
points_per_minute = total_points / minutes_played

8. **Who has a better Points per Minute score; MJ or Kevin Durant?**

In [ ]:
idxmax, valmax = points_per_minute.agg(['idxmax', 'max'])
print(idxmax, valmax)

In [ ]:
points_per_minute.loc['Michael Jordan*'] > points_per_minute.loc['Kevin Durant']

9. **Calculate FT**

    FT is the proportion of scored Free Throws divided by the total attempts. Basically, the accuracy of Free Throws. Store your results in ``ft_perc``.

In [ ]:
ft_perc = free_throws / free_throws_attempts
ft_perc

10. Who's the player with best FT% record: MJ or Larry Bird?

    A battle of titans. Who had a better FT% record?

In [ ]:
ft_perc.loc['Michael Jordan*'] > ft_perc.loc['Larry Bird*']

## Boolean Operations

11. **Find the top 25% players by 'free throw accuracy'**

    Create a boolean series that contains ``True`` values for those players that are in the top 25% by free throw efficiency (using the preivously calculated) ``ft_perc`` series. Store your results in the variable ``ft_top_25``.

    Your result should look something like:

In [ ]:
ft_perc.quantile(.75)

In [ ]:
ft_perc.head()

In [ ]:
ft_top_25 = ft_perc >= ft_perc.quantile(.75)
ft_top_25.head(10)

In [ ]:
ft_top_25 = ft_perc.where(ft_perc > ft_perc.quantile(.75)) == ft_perc
ft_top_25.head(10)

12. How many players are in the top 25% by free throw accuracy?

    Answer using the previously calcualted series ``ft_top_25``.

In [ ]:
ft_top_25.value_counts()

In [ ]:
ft_top_25.sum()

13. Find those players that scored 0 points in their history

    Create a boolean series that contains ``True`` values for those players that have scored 0 total points. Store your results in the variable ``players_0_points``.

In [ ]:
players_0_points = total_points == 0
players_0_points.sum()